%table
  %tr
    %th Provider
    %th Token
    %th Expires At
  - @authorizations.each do |authorization|
    %tr
      %td= authorization.provider
      %td
        %code
          %pre= authorization.access_token
      %td= authorization.expires_at && l(authorization.expires_at)
