%table
  %tr
    %th Provider
    %th Token
    %th Expires At
  - @authorizations.each do |authorization|
    %tr
      %td= authorization.provider
      %td
        %code
          %pre= authorization.access_token
      %td
        - if authorization.expires_at
          = l(authorization.expires_at)
        = link_to 'Refresh Token', refresh_authorization_path(authorization)
